
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">{{ caption }}</h1>
        <p class="lead">standing on icy mountain!</p>
        <img src="travels/images/skimountain.jpeg" />

        <hr class="my-2" />
        <p class="lead">App that makes jumps on your behalf and then teleports you to the location.  Free travel.</p>
        <p class="lead">
          <a class="btn btn-success btn-lg" href="#" role="button"
            >Explore Jumpie</a
          >
        </p>
      </div>
    </div>
